<%= form_with model: [blogpost, blogpost.comments.build] do |form| %>
    <p>
        <%= form.label :commenter %> <br>
        <%= form.text_field :commenter %>
    </p>

    <p>
        <%= form.label :body %> <br>
        <%= form.textarea :body %>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>